h1 {
  font-family: 'Passion One', cursive;
  margin-bottom: 0;
}

h4 {
  font-family: 'Artifika', serif;
  margin-top: 0;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Passion One', cursive;
  margin-top: 0;
  text-decoration: underline;
}

body {
  background-image: url('/map.jpeg');
  background-size: cover;
}

.input-field label, .input-field input[type=text]:focus + label, .input-field input[type=text].valid {
}

#modal {
  background-image: url('/modal.jpeg');
  font-weight: bold;
  font-size: 2em;
}

.listTable {
  max-height: 500px;
  overflow-y: scroll;
  font-weight: bold;
}

.input-field label {
  color: #000;
  font-weight: bold;
}

.next {
  background-color: #304ffe;
  text-decoration: underline;
  border-style: outset;
  border-width: thick;
  border-radius: 5px;
  font-family: 'Artifika', serif;
}

li {
  font-size: 1.75em;
  font-family: 'Passion One', cursive;

}
