h1 {
  font-family: 'Passion One', cursive;
  margin-bottom: 0;
}

h4 {
  font-family: 'Artifika', serif;
  margin-top: 0;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Passion One', cursive;
  margin-top: 0;
  text-decoration: underline;
}

body {
  background-color: #bbdefb;
}

.listTable {
  max-height: 500px;
  overflow-y: scroll;
}

.input-field label {
  color: #000;
}

.next {
  background-color: #304ffe;
  border-style: outset;
  border-width: thick;
  border-radius: 5px;
  font-family: 'Artifika', serif;
}

li {
  font-size: 1.75em;
  font-family: 'Passion One', cursive;
}

/*@media only screen and (max-width: 414px){
  form, .tab {
    width: 100%!important;
    display: inline-block!important;
  }
}*/
