h1 {
  font-family: 'Passion One', cursive;
  margin-bottom: 0;
}

h4 {
  font-family: 'Artifika', serif;
  margin-top: 0;
  margin-bottom: 20px;
}

h5 {
  font-family: 'Passion One', cursive;
  margin-top: 0;
  text-decoration: underline;
}

body {
  background-image: url('/images/map.jpeg');
  background-position: center center;
  background-repeat:repeat-y;
  background-attachment: fixed;
  background-size: cover;
  background-color: #bbdefb;
}

#modal {
  background-image: url('/images/world.jpeg');
  background-size: cover;
  background-color: #bbdefb;
  font-weight: bold;
  font-size: 1em;
}

input#city,
input#state,
input#rating,
input#modalCity,
input#modalState,
input#modalRating
 {
  border-bottom: 1px solid #00838f;
  box-shadow: 0 1px 0 0 #00838f;
}

label,
label.active,
.prefix.active {
  color: #00838f !important;
}

#modalEdit, #addLocation {
  background-color: #00838f !important;
}

.listTable {
  max-height: 500px;
  overflow-y: scroll;
  font-weight: bold;
}

.input-field label {
  color: #000;
  font-weight: bold;
}

.next {
  height: 225px;
  background-color: #304ffe;
  border-style: outset;
  border-width: thick;
  border-radius: 5px;
  font-family: 'Artifika', serif;
  max-height: 225px;
  overflow-y: scroll;
}

li {
  font-size: 1.75em;
  font-family: 'Passion One', cursive;

}

.world {
  max-width: 50px;
}
